<!-- Mobile menu -->
<div class="mobile-menu">
  <button mat-icon-button (click)="handleMenuNav.emit()">
    <mat-icon *ngIf="!isOpenMenu">menu</mat-icon>
    <mat-icon *ngIf="isOpenMenu">close</mat-icon>
  </button>
</div>

<!-- Logo -->
<div class="logo" [routerLink]="['/']">AFERY</div>

<!-- Account -->
<div class="user">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menuUser"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menuUser="matMenu">
    <a
      *ngIf="isLogin"
      class="user__menu"
      mat-menu-item
      [routerLink]="['/konto']"
    >
      <span>Konto</span>
    </a>

    <a
      *ngIf="isAdmin"
      class="user__menu"
      mat-menu-item
      [routerLink]="['/admin/create']"
    >
      <span>Admin</span>
    </a>

    <button
      *ngIf="!isLogin"
      class="user__menu"
      mat-menu-item
      (click)="login.emit()"
    >
      <span>Zaloguj się</span>
    </button>

    <button
      *ngIf="isLogin"
      class="user__menu"
      mat-menu-item
      (click)="logout.emit()"
    >
      <span>Wyloguj się</span>
    </button>
  </mat-menu>
</div>
