<app-reading-progress-bar></app-reading-progress-bar>

<div class="container page d-none d-sm-block">
  <ng-container *ngIf="(isExists | async) && (article | async)?.imageSrc">
    <div class="page__organization" >
      <img *ngIf="article.value?.type === ArticlesTypesEnum.PoliticalParties" [src]="'/assets/icons/parties/' + PartiesEnum[$any(article.value?.entity)] + '.jpg'" alt="Logo">
      <span>{{ PartiesEnum[$any(article.value?.entity)] }}</span>
    </div>
    <div class="page__title">
      {{ article.value?.title }}
      <div
        *ngIf="isAdmin"
        class="page__title--buttons"
      >
        <button
          mat-icon-button
          matTooltip="Edytuj artykuł"
          (click)="handleEditArticle(article.value?.id)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="!article.value?.isHide"
          mat-icon-button
          matTooltip="Ukryj artykuł"
          (click)="hideArticle(article.value?.id)"
        >
          <mat-icon>panorama_fish_eye</mat-icon>
        </button>
        <button
          *ngIf="article.value?.isHide"
          mat-icon-button
          matTooltip="Pokaż artykuł"
          (click)="showArticle(article.value?.id)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Usuń artykuł"
          (click)="handleDeleteArticle(article.value?.id)"
        >
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
    <div class="page__links">
      <div class="page__links__time">
        <div>{{ article.value?.createDate | date:'dd.MM.yyyy, HH:mm' }}</div>
        <div>
          <div class="page__links__time__read"></div>
          {{ article.value?.text | timeToRead }} min czytania
        </div>
      </div>
      <div class="page__links__socials">
        <div>Udostępnij</div>
        <a mat-icon-button [href]="'https://www.facebook.com/share.php?u=' + pageUrl()" target="_blank" rel="noopener noreferrer">
          <img src="/assets/socials/facebook.svg" alt="Link do Facebooka">
        </a>
        <a mat-icon-button [href]="'https://twitter.com/intent/tweet?url=' + pageUrl()" target="_blank" rel="noopener noreferrer">
          <img src="/assets/socials/twitter.svg" alt="Link do Twittera">
        </a>
      </div>
    </div>
    <div class="page__image" [style.background-image]="'url(' + article.value?.imageSrc + ')'"></div>
    <span class="page__costs">
      <span class="page__costs--icons" *ngIf="article.value?.costs">
        <mat-icon>money_off</mat-icon>
        {{ article.value?.costs | millions }}
        <span *ngIf="$any(article.value?.viewership) >= 100" class="page__costs--break"> | </span>
      </span>
      <span *ngIf="$any(article.value?.viewership) >= 100" class="page__viewership page__costs--icons">
        <mat-icon>remove_red_eye</mat-icon>
        {{ article.value?.viewership }}
      </span>
    </span>
    <div class="page__desc" [innerHtml]="article.value?.text"></div>
    <app-write-comment
      [isSavingComment]="isSavingComment"
      [countComment]="(comments | async)?.length"
      (addComment)="handleAddComment($event)"
    ></app-write-comment>
    <app-comments
      [comments]="comments.value"
      [isAdmin]="isAdmin | async"
      (deleteComment)="handleDeleteComment($event)"
    ></app-comments>
  </ng-container>

  <ng-container *ngIf="!isExists.value">
    <div class="not-exists">
      <div class="not-exists--error">404</div>
      Nie znaleziono takiej strony
    </div>
  </ng-container>
</div>

<div class="d-sm-none page-mobile">
  <ng-container *ngIf="(isExists | async) && (article | async)?.imageSrc">
    <div class="page-mobile__image" [style.background-image]="'url(' + article.value?.imageSrc + ')'">
      <img *ngIf="article.value?.type === ArticlesTypesEnum.PoliticalParties" class="page-mobile__image--org" [src]="'/assets/icons/parties/' + PartiesEnum[$any(article.value?.entity)] + '.jpg'" alt="Logo">
    </div>
    <div class="page-mobile__content">
      <div class="page-mobile__content__title">
        {{ article.value?.title }}
      </div>
      <div class="page-mobile__content__time">
        <div>{{ article.value?.createDate | date:'dd.MM.yyyy, HH:mm' }}</div>
        <div class="page-mobile__content__time__all">
          <div>
            {{ article.value?.text | timeToRead }} min czytania
          </div>
          <div class="page-mobile__content__time__all__socials">
            <div>Udostępnij</div>
            <a mat-icon-button href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer">
              <img src="/assets/socials/facebook.svg" alt="Link do Facebooka">
            </a>
            <a mat-icon-button href="https://twitter.com/" target="_blank" rel="noopener noreferrer">
              <img src="/assets/socials/twitter.svg" alt="Link do Twittera">
            </a>
          </div>
        </div>
      </div>
      <span class="page__costs">
        <span class="page__costs--icons god" *ngIf="article.value?.costs">
          <mat-icon>money_off</mat-icon>
          <span>{{ article.value?.costs | millions }}</span>
          <span *ngIf="$any(article.value?.viewership) >= 100" class="page__costs--break"> | </span>
        </span>
        <span *ngIf="$any(article.value?.viewership) >= 100" class="page__viewership page__costs--icons god">
          <mat-icon>remove_red_eye</mat-icon>
          <span>{{ article.value?.viewership }}</span>
        </span>
      </span>
      <div class="page-mobile__content__desc" [innerHtml]="article.value?.text"></div>
      <app-write-comment
        [isSavingComment]="isSavingComment"
        [countComment]="(comments | async)?.length"
        (addComment)="handleAddComment($event)"
      ></app-write-comment>
      <app-comments
        [comments]="comments.value"
        [isAdmin]="isAdmin | async"
        (deleteComment)="handleDeleteComment($event)"
      ></app-comments>
    </div>
  </ng-container>

  <ng-container *ngIf="!isExists.value">
    <div class="not-exists">
      <div class="not-exists--error">404</div>
      Nie znaleziono takiej strony
    </div>
  </ng-container>
</div>
