<ng-container *ngIf="isExists | async">
  <app-reading-progress-bar></app-reading-progress-bar>

  <app-pc-article
    class="d-none d-sm-block container"
    [article]="article | async"
    [isAdmin]="isAdmin | async"
    [nextArticle]="nextArticle | async"
    (setToFirstArticle)="setToFirstArticle()"
    (handleEditArticle)="handleEditArticle()"
    (handleDeleteArticle)="handleDeleteArticle()"
    (handleDislike)="handleDislike($event)"
    (handleLike)="handleLike($event)"
  ></app-pc-article>

<!-- <ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3703242940135005"
     data-ad-slot="9750312028"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

  <app-mobile-article
    class="d-sm-none"
    [article]="article.value"
    [isAdmin]="isAdmin.value"
    [nextArticle]="nextArticle.value"
    (handleDislike)="handleDislike($event)"
    (handleLike)="handleLike($event)"
  ></app-mobile-article>
</ng-container>

<ng-container *ngIf="!isExists.value">
  <div class="not-exists">
    <div class="not-exists--error">404</div>
    Nie znaleziono takiej strony
  </div>
</ng-container>
