<ng-container *ngIf="isExists | async">
  <app-reading-progress-bar></app-reading-progress-bar>

  <app-pc-article
    class="d-none d-sm-block container"
    [isSavingComment]="isSavingComment | async"
    [actionMode]="actionMode | async"
    [comments]="comments | async"
    [article]="article | async"
    [isAdmin]="isAdmin | async"
    [nextArticle]="nextArticle | async"
    (setToFirstArticle)="setToFirstArticle()"
    (handleEditArticle)="handleEditArticle()"
    (handleDeleteArticle)="handleDeleteArticle()"
    (approve)="approve()"
    (dislike)="dislike()"
  ></app-pc-article>

  <app-mobile-article
    class="d-sm-none"
    [isSavingComment]="isSavingComment.value"
    [actionMode]="actionMode.value"
    [comments]="comments.value"
    [article]="article.value"
    [isAdmin]="isAdmin.value"
    [nextArticle]="nextArticle.value"
    (approve)="approve()"
    (dislike)="dislike()"
  ></app-mobile-article>
</ng-container>

<ng-container *ngIf="!isExists.value">
  <div class="not-exists">
    <div class="not-exists--error">404</div>
    Nie znaleziono takiej strony
  </div>
</ng-container>
