$image-border-radius: 5px;

:host {
  display: block;
}

@mixin title($size, $line) {
  font-weight: bold;
  line-height: $line;
  font-size: $size;
}

@mixin time($font) {
  font-size: $font;
  white-space: nowrap;
  color: #c3c3c3;
}

@mixin text($font) {
  line-height: 30px;
  font-size: $font;
}

.not-exists {
  @include title(3rem, 3rem);
  text-align: center;
  margin-top: 10vh;

  &--error {
    color: red;
    margin-bottom: 1vh;
  }
}

.plus {
  filter: invert(20%) sepia(90%) saturate(2406%) hue-rotate(100deg) brightness(104%) contrast(104%);

  &:hover {
    filter: invert(46%) sepia(57%) saturate(3921%) hue-rotate(91deg) brightness(109%) contrast(110%);
  }
}

.minus {
  filter: invert(11%) sepia(100%) saturate(6468%) hue-rotate(26deg) brightness(81%) contrast(129%);

  &:hover {
    filter: invert(13%) sepia(82%) saturate(4837%) hue-rotate(356deg) brightness(100%) contrast(117%);
  }
}

.choosed-minus {
  filter: invert(13%) sepia(82%) saturate(4837%) hue-rotate(356deg) brightness(100%) contrast(117%);
}

.choosed-plus {
  filter: invert(46%) sepia(57%) saturate(3921%) hue-rotate(91deg) brightness(109%) contrast(110%);
}

@media (min-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}
