@use '../shared/styles/image';

:host {
  display: flex;
  overflow: overlay;
  height: 93vh;
}

@mixin title($size, $line) {
  font-weight: bold;
  line-height: $line;
  font-size: $size;
}

@mixin time {
  font-size: .95rem;
  white-space: nowrap;
}

.page {
  z-index: 1;
  color: white;
  margin-top: 1.2rem;
  // TODO poprawic kiedys crolla

  &__title {
    @include title(2.4rem, 3rem);
  }

  &__image {
    margin-top: 15px;
    margin-bottom: 12px;
    width: 100%;
    height: 250px;
    @include image.imageBackground;

    &--organization {
      height: 50px;
      width: 50px;
    }

    @media (min-width: 576px) {
      height: 300px;
    }

    @media (min-width: 768px) {
      height: 400px;
    }
  }

  &__desc {
    line-height: 1.46;
    font-size: 1.125em;
    padding-bottom: 1rem;
  }

  &__time {
    margin-top: 5px;
    @include time;
  }
}

.page-mobile {
  z-index: 1;
  color: white;
  width: 100%;

  &__image {
    width: 100%;
    height: 25vh;
    @include image.imageBackground;

    &--org {
      height: 40px;
      width: 40px;
    }
  }

  &__content {
    padding: 0 1rem;

    &__title {
      @include title(2.2rem, 2.8rem);
      margin-top: 1rem;
      margin-bottom: .5rem;
    }

    &__time {
      @include time;
      margin-bottom: .5rem;
    }

    &__desc {
      line-height: 1.9;
      font-size: 1.125em;
    }
  }

}

.not-exists {
  @include title(3rem, 3rem);
  text-align: center;
  margin-top: 10vh;

  &--error {
    color: red;
    margin-bottom: 1vh;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 750px;
  }
}
