$image-border-radius: 5px;

:host {
  display: block;
}

@mixin title($size, $line) {
  font-weight: bold;
  line-height: $line;
  font-size: $size;
}

@mixin time($font) {
  font-size: $font;
  white-space: nowrap;
  color: #c3c3c3;
}

@mixin text($font) {
  line-height: 30px;
  font-size: $font;
}

.page-data {
  padding-bottom: 8rem;
}

.not-exists {
  @include title(3rem, 3rem);
  text-align: center;
  margin-top: 10vh;

  &--error {
    color: red;
    margin-bottom: 1vh;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 800px;
  }
}

.live-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
