<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts__others">
      <span class="comment__texts__others--name">{{ comment.name }}</span>
      <span class="comment__texts__others--date">{{ comment.date | time }}</span>
    </div>
    <div class="comment__texts--desc">{{ comment.text }}</div>
    <div
      *ngIf="!isMenagaComponent"
      class="comment__texts--answers"
    >
      <app-plus-minus
        [likes]="comment.likes"
        [dislikes]="comment.dislikes"
        [id]="comment.id"
        [collection]="'comments'"
        (incrementLikes)="handleLike($event)"
        (incrementDislikes)="handleDislike($event)"
      ></app-plus-minus>

      <button
        *ngIf="userName"
        mat-stroked-button
        (click)="getAnswersToDisplay(true)"
      >Odpowiedz</button>
    </div>
    <div class="comment__texts--buttons">
      <button
        *ngIf="(countAnswers | async) > 0 && !handleOpenAnswers.value"
        mat-button
        (click)="getAnswersToDisplay()"
      >
        {{ countAnswers.value > 1 ? 'Wyświetl ' +  countAnswers.value  + ' odpowiedzi' : 'Zobacz odpowiedź' }}
      </button>

      <button
        *ngIf="(countAnswers | async) > 0 && (handleOpenAnswers | async)"
        mat-button
        (click)="hideAnswers(false)"
      >
        {{ countAnswers.value > 1 ? 'Ukryj ' +  countAnswers.value  + ' odpowiedzi' : 'Ukryj odpowiedź' }}
      </button>
    </div>
  </div>

  <div class="comment__buttons">
    <button
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Usuń komentarz"
      (click)="deleteComment.emit(comment.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <ng-content select="[customButtons]"></ng-content>
  </div>
</div>

<!-- Pisanie odpowiedzi -->
<app-write-comment
  *ngIf="handleOpenWriteComment | async"
  [isSavingComment]="isSaving | async"
  (addComment)="addAnswer($event)"
  [answerMode]="true"
></app-write-comment>

<!-- Odpowiedzi -->
<div
  class="open-answers"
  [class.hide-answers]="!handleOpenAnswers.value"
>
  <ng-container *ngFor="let answer of answers.value">
    <app-answer
      @showAnimation
      [data]="answer"
      [isAdmin]="isAdmin"
      [isChat]="false"
      (deleteAnswer)="handleDeleteAnswer($event)"
    ></app-answer>
  </ng-container>
</div>
