<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts--name">{{ comment.name }}</div>
    <div class="comment__texts--date">{{ comment.date | date:'dd.MM.yyyy HH:mm' }}</div>
    <div class="comment__texts--desc">{{ comment.text }}</div>
    <div *ngIf="!isMenagaComponent" class="comment__texts--answers">
      <button
        mat-button
        (click)="handleOpenWriteComment.next(!handleOpenWriteComment.value)"
      >Odpowiedz</button>

      <div class="actions">
        <div
          class="actions__action"
          (click)="approve()"
        >
          <img [class.choosed-plus]="(commentMode | async) === 'like'" class="actions__action--plus" src="/assets/icons/comment/plus.svg" alt="plus icon">
          <span>{{ comment?.likes ?? 0 }}</span>
        </div>
        <div
          class="actions__action"
          (click)="dislike()"
        >
          <img [class.choosed-minus]="commentMode.value === 'dislike'" class="actions__action--minus" src="/assets/icons/comment/minus.svg" alt="minus icon">
          <span>{{ comment?.dislikes ?? 0 }}</span>
        </div>
      </div>

      <button
        *ngIf="(countAnswers | async) > 0 && !handleOpenAnswers.value"
        mat-button
        (click)="getAnswersToDisplay()"
      >Zobacz odpowiedzi ({{ countAnswers.value }})</button>
      <button
        *ngIf="handleOpenAnswers.value"
        mat-button
        (click)="handleOpenAnswers.next(false)"
      >Ukryj odpowiedzi</button>
    </div>
  </div>
  <div class="comment__buttons">
    <button
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Usuń komentarz"
      (click)="deleteComment.emit(comment.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <ng-content select="[customButtons]"></ng-content>
  </div>
</div>
<!-- Pisanie odpowiedzi -->
<app-write-comment
  *ngIf="handleOpenWriteComment | async"
  [isSavingComment]="isSaving | async"
  [answerMode]="true"
  (addComment)="addAnswer($event)"
></app-write-comment>
<!-- Odpowiedzi -->
<div
  *ngIf="handleOpenAnswers | async"
  class="answer"
>
  <ng-container *ngFor="let answer of answers | async">
    <app-answer
      [data]="answer"
      [isAdmin]="isAdmin"
      (deleteAnswer)="handleDeleteAnswer($event)"
    ></app-answer>
  </ng-container>
</div>
