.comment {
  display: flex;
  gap: 1.2rem;

  mat-icon {
    font-size: 30px;
  }

  &__texts {
    word-break: break-word;
    letter-spacing: 1px;

    &__others {

      a {
        margin-left: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;

        mat-icon {
          font-size: 13px;
          width: 20px;
          height: 22px;
        }
      }

      &--name {
        font-weight: 500;
        font-size: 15px;
      }

      &--date {
        margin-left: 10px;
        font-size: 12px;
        color: #b6b6b6;
      }
    }

    &--buttons {
      margin-top: 10px;
    }

    &--desc {
      margin-top: 10px;
      line-height: 24px;
    }

    &--answers {
      margin-top: 10px;

      button {
        padding: 0 10px;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 28px;

        &:nth-child(3) {
          margin-left: 10px;
        }
      }
    }
  }

  &__buttons {
    margin-left: auto;

    mat-icon {
      font-size: 18px;
    }
  }
}

.actions {
  display: inline;
  position: relative;

  &__action {
    display: inline;
    margin-right: 30px;

    &.choosed {

      span {
        color: white;
      }

      button {
        background: #242424;

      }
    }

    span {
      cursor: pointer;
      position: absolute;
      margin-top: 8px;
      font-size: 12px;
      color: #b6b6b6;
    }

    button {
      height: 35px;
      width: 35px;
      line-height: 35px;

      img {
        cursor: pointer;
        width: 16px;

        &.plus {
          margin-bottom: 3px;
        }
      }
    }
  }
}

.open-answers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.8rem;
  // TODO zrobić wyliczenie wielkości tego elementu aby na pewno nic się nie zje... w animacji przy duzych ilosciach komentarzy
  max-height: 5000px;
  overflow: hidden;
  transition: max-height 900ms ease-in-out;
}

.hide-answers {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}
