nav {
  display: flex;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100vw;
  justify-content: space-evenly;
  background-color: rgb(43, 43, 43);
  padding-top: 10px;

  .item {
    text-align: center;
    flex: 1;
  }
}

