<app-chat-header
  [order]="order | async"
  (changeOrder)="getTexts($event)"
></app-chat-header>

<app-write-chat
  [isSaving]="isSaving | async"
  [isLogin]="isLogin"
  [isCheckingLogin]="isCheckingLogin"
  (handleAddText)="addText($event)"
></app-write-chat>

<div class="discussions">
  <app-discussion
    *ngFor="let text of texts | async"
    [data]="text"
    [isAdmin]="isAdmin"
    [isLogin]="isLogin"
    [userName]="userName"
    (deleteMe)="handleDelete($event)"
  ></app-discussion>
</div>
