<app-chat-header
  [order]="order | async"
  [time]="time"
  (changeOrder)="getTexts($event, false)"
></app-chat-header>

<app-write-comment
  [isSavingComment]="isSaving | async"
  [disableLabel]="true"
  (addComment)="addText($event)"
></app-write-comment>

<div class="discussions">
  <app-discussion
    *ngFor="let text of texts | async"
    [data]="text"
    [isAdmin]="isAdmin"
    [isLogin]="isLogin"
    [userName]="userName"
    (deleteMe)="handleDelete($event)"
  ></app-discussion>
</div>
