<div clas="container">
  <div class="justify-content-center">
    <!-- TODO ETAP 1: Wszystkie komentarza -->
    <app-chat-comments
      class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5"
      [userName]="userName | async"
      [isAdmin]="isAdmin | async"
    ></app-chat-comments>
  </div>
</div>

<!-- TODO ETAP 2: Sortowanie po najlepszym oraz najnowszym -->
<!-- <app-chat-header
></app-chat-header> -->

<!-- TODO ETAP 3: W kazdy komentarz w bulwarze bedzie można wejść jako normalny routing -->
<!-- <app-single-discussion
></app-single-discussion> -->

<!-- TODO ETAP 4: Top dyskusji na tej stronie oraz na głównej i może jakieś inne -->
<!-- <app-top-discussion
></app-top-discussion> -->
