<!-- TODO ETAP 1: Wszystkie komentarza -->
<div class="justify-content-center">
  <app-chat-comments
    class="col-3"
  ></app-chat-comments>
</div>

<!-- TODO ETAP 2: Sortowanie po najlepszym oraz najnowszym -->
<!-- <app-chat-header
></app-chat-header> -->

<!-- TODO ETAP 3: W kazdy komentarz w bulwarze bedzie można wejść jako normalny routing -->
<!-- <app-single-discussion
></app-single-discussion> -->

<!-- TODO ETAP 4: Top dyskusji na tej stronie oraz na głównej i może jakieś inne -->
<!-- <app-top-discussion
></app-top-discussion> -->
