@use '../../article-page.component' as main;

:host {
  display: block;
  padding: 0 0.7rem;
  margin-bottom: 3rem;
}

.text--desc {
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 12px;
}

.desc {
  @include main.text(16px);
  line-height: 29px;
}

.tags {
  margin-bottom: 1rem;
  margin-top: 1rem;

  mat-chip {
    cursor: pointer;
  }
}
