<div
  *ngIf="subtitle?.length"
  class="subtitle"
>{{ subtitle }}</div>

<div
  *ngIf="articleWrite === ArticleWriteEnum.normal"
  class="desc"
  [innerHtml]="checkHtml(text)"
></div>

<div
  *ngIf="articleWrite === ArticleWriteEnum.live"
  class="live-items"
>
  <app-live-item
    *ngFor="let item of liveItems"
    [item]="item"
    [isAdminPage]="false"
  ></app-live-item>
</div>

<div class="tags">
  <mat-chip-list>
    <mat-chip *ngFor="let tag of tags" [routerLink]="'../../../tag/' + tag">{{ tag }}</mat-chip>
  </mat-chip-list>
</div>
