<div *ngFor="let item of items" class="item">
  <a mat-button [routerLink]="[item.href]" [queryParams]="item.queryParams"  >
    <mat-icon>arrow_forward</mat-icon>
    {{ item.label }}
  </a>
</div>
<div class="socials">
  <a mat-icon-button href="https://facebook.com/Afery-105465358706997/" target="_blank" rel="noopener noreferrer">
    <img src="/assets/socials/facebook.svg" alt="Link do Facebooka">
  </a>
  <a mat-icon-button href="https://twitter.com/AferyO" target="_blank" rel="noopener noreferrer">
    <img src="/assets/socials/twitter.svg" alt="Link do Twittera">
  </a>
</div>
