:host {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 65px);
  z-index: 20;
  background-color: #1a1a1a;
  margin-top: 65px;
  padding: 3rem;
  display: flex;
  top: 0;
  flex-direction: column;
  max-width: initial;

  @media (min-width: 576px) {
    width: 50vw;
  }

  @media (min-width: 768px) {
    width: 40vw;
    margin-top: 72px;
    max-width: 300px;
  }

  @media (min-width: 992px) {
    width: 35vw;
  }

  @media (min-width: 1200px) {
    width: 30vw;
  }
}

.active {
  background: #242424;
}

.item {

  a {
    color: white;
    font-family: monospace, sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 8px 10px;

    mat-icon {
      color: #db00db;
    }
  }
}

.socials {
  margin-top: auto;
  border-top: 1px solid #5a5a5a;
  padding-top: 1.2rem;
  display: flex;
  place-content: center;
  gap: 15px;

  img {
    filter: invert(94%) sepia(0%) saturate(24%) hue-rotate(24deg) brightness(105%) contrast(108%);
  }
}
