:host {
  display: flex;
  min-height: 85vh;
  margin-left: 9rem;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 30px;
}

.create {
  margin-top: 1rem;
}

