<form [formGroup]="form">
  <app-choose-type
    [typeDataControl]="typeDataControl"
  ></app-choose-type>

  <app-poll-item
    [items]="form.get('parties')"
    (addItem)="addEmptyItem()"
    (deleteItem)="deleteItem($event)"
  ></app-poll-item>

  <app-details
    [title]="form.get('title')"
    [surveying]="form.get('surveying')"
    [when]="form.get('when')"
    [people]="form.get('people')"
    [forWhom]="form.get('forWhom')"
  ></app-details>

  <button
    mat-raised-button
    class="create"
    type="submit"
    color="primary"
    [disabled]="form.invalid || isLoading.value"
    (click)="handleSubmit()"
  >
    <div class="loading-button">
      <mat-spinner *ngIf="isLoading | async" [diameter]="20"></mat-spinner>
      <span>{{ (idPoll | async).length ? 'Edytuj' : 'Dodaj' }}</span>
    </div>
  </button>
</form>
