:host {
  display: flex;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
}

.newest {
  margin-top: 6.5rem;

  &__item {
    margin-bottom: 1rem;
  }

  @media (min-width: 767px) {
    margin-top: 10.5rem;
  }
}

.label {
  color: white;
  margin-bottom: 1rem;
}
