<!-- <app-newests
  [polls]="allPolls | async"
  [isAdmin]="isAdmin | async"
  [showMore]="showMore | async"
  (deletePoll)="handleDeletePoll($event)"
  (editPoll)="handleEditPoll($event)"
  (handlePage)="getPolls(true)"
></app-newests> -->
<div class="newest container">
  <div
    *ngIf="allPolls.value.length"
    class="label"
  >
    Najnowsze
  </div>

  <div class="row">
    <app-poll-pc
      *ngFor="let poll of allPolls | async; let index = index"
      class="col-12 col-sm-6 col-lg-4 newest__item"
      [poll]="poll"
      [isAdmin]="isAdmin | async"
      [idSvg]="'halo' + index"
      (editPoll)="handleEditPoll($event)"
    ></app-poll-pc>
  </div>

  <div class="more">
    <button
      *ngIf="showMore | async"
      mat-icon-button
      matTooltip="Wjęcej"
      (click)="getPolls(true)"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
