<div class="newest container">
  <!-- <app-poll-carousel
    *ngIf="data.value[0].polls.length && data.value[2].polls.length"
    [slides]="slides"
  ></app-poll-carousel> -->

  <ng-container *ngFor="let section of data | async | keyvalue; trackBy:identify">
    <app-section
      *ngIf="section.value.polls.length"
      [key]="section.key"
      [polls]="section.value.polls"
      [reachedMaxPolls]="section.value.isLastPage"
      [isLoading]="section.value.isLoading"
      (handlePage)="getPolls(section.key, true)"
    ></app-section>
  </ng-container>
</div>
