<app-write-comment
  [isSavingComment]="isSavingComment | async"
  [countComment]="(comments | async).length"
  (addComment)="addComment($event)"
  (changeOrder)="getComments($event.value)"
></app-write-comment>

<app-is-loading
  *ngIf="isLoading | async"
  [size]="60"
></app-is-loading>

<div
  *ngIf="!isLoading.value"
  class="comments"
>
  <app-comment
    *ngFor="let comment of comments.value"
    [isAdmin]="isAdmin | async"
    [userName]="userName | async"
    [comment]="comment"
    (deleteComment)="deleteComment($event)"
  ></app-comment>
</div>
