<div class="page-mobile">
  <ng-container *ngIf="article?.imageSrc">
    <app-mobile-header
      [type]="article?.type"
      [entity]="article?.entity"
      [title]="article?.title"
      [createDate]="article?.createDate"
      [text]="article?.text"
      [likes]="article?.likes"
      [dislikes]="article?.dislikes"
      [imageDesc]="article?.imageDesc"
      [imageSrc]="article?.imageSrc"
      [id]="article.id"
      (handleLike)="handleLike.emit($event)"
      (handleDislike)="handleDislike.emit($event)"
    ></app-mobile-header>

    <app-mobile-main
      [text]="article?.text"
      [subtitle]="article?.subtitle"
      [tags]="article?.tags"
    ></app-mobile-main>

    <div class="comments">
      <app-global-comments
        [parentId]="article.id"
        [commentType]="'articles'"
      ></app-global-comments>
    </div>

    <app-mobile-short-article
      *ngIf="nextArticle"
      [article]="nextArticle"
    ></app-mobile-short-article>
  </ng-container>
</div>
