<div class="page-mobile">
  <ng-container *ngIf="article?.imageSrc">
    <app-mobile-header
      [actionMode]="actionMode"
      [type]="article?.type"
      [entity]="article?.entity"
      [title]="article?.title"
      [createDate]="article?.createDate"
      [text]="article?.text"
      [likes]="article?.likes"
      [dislikes]="article?.dislikes"
      [imageDesc]="article?.imageDesc"
      [imageSrc]="article?.imageSrc"
      (approve)="approve.emit()"
      (dislike)="dislike.emit()"
    ></app-mobile-header>

    <app-mobile-main
      [text]="article?.text"
      [subtitle]="article?.subtitle"
    ></app-mobile-main>

    <div class="comments">
      <app-write-comment
        [isSavingComment]="isSavingComment"
        [countComment]="comments?.length"
        (addComment)="addComment.emit($event)"
      ></app-write-comment>

      <app-comments
        [comments]="comments"
        [isAdmin]="isAdmin"
        [userName]="userName"
        (deleteComment)="handleDeleteComment.emit($event)"
      ></app-comments>
    </div>

    <app-mobile-short-article
      *ngIf="nextArticle"
      [article]="nextArticle"
    ></app-mobile-short-article>
  </ng-container>
</div>
