$margin-content: 1.3rem;

form {
  mat-form-field {
    width: 100%;

  }

  .desc {
    margin-top: 1.5rem;
  }

  .create {
    text-align: right;
  }
}

.loading {
  margin-top: $margin-content;
  align-items: center;
  height: 100px;
}

.left-margin {
  margin-left: 43px;
}

.label {
  margin-top: 1rem;
}
