:host {
  display: flex;
}

.articles {
  $text-space: 1rem;
  z-index: 1;

  &__title {
    color: white;
    font-size: 1.5rem;
    padding-bottom: $text-space;
    border-bottom: 1px solid rgb(194, 194, 194);
  }

  &__list {
    min-width: 1100px;
    margin-top: $text-space;

    &__card {
      height: 400px;

      &__image {

      }
    }
  }
}

.section {
  margin: 0 auto;
  margin-top: 2.3rem;
}
