:host {
  display: flex;
  flex-direction: column;
}

.articles {
  $text-space: 1rem;

  &__title {
    color: white;
    font-size: 1.5rem;
    padding-bottom: $text-space;
    border-bottom: 1px solid rgb(194, 194, 194);
  }

  &__list {
    margin-top: $text-space;
  }
}

.section {
  margin: 0 auto;
  margin-top: 3rem;
}

.all-articles {
  margin-top: 5rem;
}
