<div class="all-articles">
  <app-top-articles
    [importantArticle]="topArticle | async"
    [restArticle]="restArticle()"
  ></app-top-articles>

  <ng-container *ngFor="let section of data | async | keyvalue">
   <app-section
    *ngIf="section.value.articles.length"
     class="section"
     [name]="section.key"
     [articles]="section.value.articles"
     [reachedMaxArticles]="section.value.isLastPage"
     [isLoading]="section.value.isLoading"
     (handlePage)="getArticles($any(section.key), order)"
   ></app-section>
  </ng-container>
</div>
