<div class="all-articles">
  <app-section
    *ngIf="(parties | async)?.length"
    class="section"
    name="Partie"
    [articles]="parties.value"
    [page]="pageParties | async"
    [reachedMaxArticles]="reachedMaxArticlesParties | async"
    (handlePage)="getArticles(ArticlesTypesEnum.PoliticalParties, order, $event)"
  ></app-section>

  <app-section
    *ngIf="(politicians | async)?.length"
    class="section"
    name="Politycy"
    [articles]="politicians.value"
    [page]="pagePoliticians | async"
    [reachedMaxArticles]="reachedMaxArticlesPoliticians | async"
    (handlePage)="getArticles(ArticlesTypesEnum.Politicians, order, $event)"
  ></app-section>
</div>
