<div class="page">
  <ng-container *ngIf="article?.imageSrc">
    <app-pc-header
      [isAdmin]="isAdmin"
      [type]="article?.type"
      [entity]="article?.entity"
      [costs]="article?.costs"
      [title]="article?.title"
      [createDate]="article?.createDate"
      [text]="article?.text"
      [likes]="article?.likes"
      [dislikes]="article?.dislikes"
      [id]="article.id"
      (setToFirstArticle)="setToFirstArticle.emit()"
      (handleEditArticle)="handleEditArticle.emit()"
      (handleDeleteArticle)="handleDeleteArticle.emit()"
      (handleLike)="handleLike.emit($event)"
      (handleDislike)="handleDislike.emit($event)"
    ></app-pc-header>

    <app-pc-main
      [subtitle]="article?.subtitle"
      [imageSrc]="article?.imageSrc"
      [title]="article?.title"
      [text]="article?.text"
      [imageDesc]="article?.imageDesc"
      [tags]="article?.tags"
    ></app-pc-main>

    <app-global-comments
      [parentId]="article.id"
      [commentType]="'articles'"
    ></app-global-comments>

    <app-pc-short-article
      *ngIf="nextArticle"
      [article]="nextArticle"
    ></app-pc-short-article>
  </ng-container>
</div>
