<div class="page">
  <ng-container *ngIf="article?.imageSrc">
    <app-pc-header
      [isAdmin]="isAdmin"
      [actionMode]="actionMode"
      [type]="article?.type"
      [entity]="article?.entity"
      [costs]="article?.costs"
      [viewership]="article?.viewership"
      [title]="article?.title"
      [createDate]="article?.createDate"
      [text]="article?.text"
      [likes]="article?.likes"
      [dislikes]="article?.dislikes"
      (setToFirstArticle)="setToFirstArticle.emit()"
      (handleEditArticle)="handleEditArticle.emit()"
      (handleDeleteArticle)="handleDeleteArticle.emit()"
      (approve)="approve.emit()"
      (dislike)="dislike.emit()"
    ></app-pc-header>

    <app-pc-main
      [subtitle]="article?.subtitle"
      [imageSrc]="article?.imageSrc"
      [title]="article?.title"
      [text]="article?.text"
      [imageDesc]="article?.imageDesc"
    ></app-pc-main>

    <app-write-comment
      [isSavingComment]="isSavingComment"
      [countComment]="comments?.length"
      (addComment)="handleAddComment($event)"
    ></app-write-comment>

    <app-comments
      [comments]="comments"
      [isAdmin]="isAdmin"
      (deleteComment)="handleDeleteComment($event)"
    ></app-comments>

    <app-pc-short-article
      *ngIf="nextArticle"
      [article]="nextArticle"
    ></app-pc-short-article>
  </ng-container>
</div>
