<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts__others">
      <span class="comment__texts__others--name">{{ data.name }}</span>
      <span class="comment__texts__others--date">{{ data.date | time }}</span>
    </div>
    <div class="comment__texts--desc">{{ data.text }}</div>
    <div class="comment__texts--answers">
      <div class="actions">
        <app-plus-minus
          [likes]="data.likes"
          [dislikes]="data.dislikes"
          [id]="data.id"
          [collection]="isChat ? 'chat' : 'comments'"
          [isAnswer]="true"
          (incrementLikes)="handleLike($event)"
          (incrementDislikes)="handleDislike($event)"
        ></app-plus-minus>
      </div>
    </div>
  </div>
  <div class="comment__buttons">
    <button
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Usuń komentarz"
      (click)="deleteAnswer.emit(data.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <ng-content select="[customButtons]"></ng-content>
  </div>
</div>
