<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts--name">{{ data.name }}</div>
    <div class="comment__texts--date">{{ data.date | time }}</div>
    <div class="comment__texts--desc">{{ data.text }}</div>
    <div class="comment__texts--answers">
      <div class="actions">
        <div
          class="actions__action"
          (click)="approve()"
        >
          <img [class.choosed-plus]="(commentMode | async) === 'like'" class="actions__action--plus" src="/assets/icons/comment/plus.svg" alt="plus icon">
          <span>{{ data.likes ?? 0 }}</span>
        </div>
        <div
          class="actions__action"
          (click)="dislike()"
        >
          <img [class.choosed-minus]="commentMode.value === 'dislike'" class="actions__action--minus" src="/assets/icons/comment/minus.svg" alt="minus icon">
          <span>{{ data.dislikes ?? 0 }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="comment__buttons">
    <button
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Usuń komentarz"
      (click)="deleteAnswer.emit(data.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
    <ng-content select="[customButtons]"></ng-content>
  </div>
</div>
