<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts__others">
      <span class="comment__texts__others--name">{{ data.name }}</span>
      <div class="comment__texts__others__actions">
        <span class="comment__texts__others__actions--date">{{ data.date | time }}</span>
        <button
          *ngIf="isAdmin"
          mat-icon-button
          matTooltip="Usuń"
          (click)="deleteAnswer.emit(data.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="comment__texts--desc">{{ data.text }}</div>
    <div class="comment__texts--answers">
      <div class="actions">
        <app-plus-minus
          [likes]="data.likes"
          [dislikes]="data.dislikes"
          [id]="data.id"
          [collection]="isChat ? 'chat' : 'comments'"
          (incrementLikes)="handleLike($event)"
          (incrementDislikes)="handleDislike($event)"
        ></app-plus-minus>
      </div>
    </div>
  </div>
  <div class="comment__buttons">
    <ng-content select="[customButtons]"></ng-content>
  </div>
</div>
