<mat-dialog-content class="title">Zaloguj się</mat-dialog-content>

<mat-dialog-content class="mat-typography">
  <app-save-button
    *ngFor="let provider of providers | async | keyvalue"
    [color]="'primary'"
    [isSaving]="provider.value.isLoading"
    [right]="'75px'"
    [disabled]="parseInt(provider.key) === ProvidersEnum.Twitter || parseInt(provider.key) === ProvidersEnum.Facebook"
    (click)="loginProvider(provider.value.authProvider, provider.key)"
  >
    <img [src]="'/assets/icons/auth/' + ProvidersEnum[provider.key] + '.png'" [alt]="'ikona ' + ProvidersEnum[provider.key]">
    <span>{{ ProvidersEnum[provider.key] }}</span>
  </app-save-button>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >Anuluj</button>
</mat-dialog-actions>
