<mat-dialog-content class="title">Zaloguj się</mat-dialog-content>

<mat-dialog-content class="mat-typography">

  <app-save-button
    *ngFor="let provider of providers | async | keyvalue"
    [color]="'accent'"
    [isSaving]="provider.value.isLoading"
    [right]="'75px'"
    [disabled]="provider.value.text === 'Twitter' || provider.value.text === 'Facebook'"
    (click)="loginProvider(provider.value.text)"
  >
    <img [src]="'/assets/icons/auth/' + provider.value.text + '.png'" [alt]="'ikona ' + provider.value.text">
    <span>{{ provider.value.text }}</span>
  </app-save-button>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    mat-dialog-close
  >Anuluj</button>
</mat-dialog-actions>
