<form [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Tekst</mat-label>
    <textarea matInput formControlName="text" autocomplete="off" type="text" rows="2"></textarea>
    <mat-error *ngIf="!form.get('text')?.hasError('required')">Max długośc to {{ commentLength }} znaków</mat-error>
  </mat-form-field>

  <div class="create">
    <app-save-button
      [color]="'primary'"
      [disabled]="form.invalid"
      [isSaving]="isSaving"
      [diameter]="15"
      [right]="'4px'"
      (click)="addText()"
    >
      <span>Dodaj</span>
    </app-save-button>
  </div>
</form>
