.parties {

  mat-panel-title {
    align-items: end;
  }

  mat-panel-description {
    align-items: end;
  }

  &__icon {
    margin-right: 10px;
  }

  &__items {

    &__item {
      display: flex;
      gap: 1rem;

      mat-form-field {
        flex: 1;
      }

      button {
        margin-top: 9px;
      }

      &--entity {

        &--image {
          width: 25px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }

  &__new {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 12px;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 200ms ease-out 100ms;

    &:hover {
      background-color: #666666;
    }
  }
}

