.label {
  color: white;
  margin-bottom: 1rem;
  font-family: monospace, sans-serif;
  font-weight: 700;
  padding-bottom: .8rem;
  letter-spacing: 1px;
}

.more {
  color: white;
  display: flex;
  text-align: center;
  place-content: center;

  &--loading {
    position: absolute;
    margin-top: 8px;
    margin-left: 70px;
  }

  button {

    mat-icon {
      font-size: 35px;
      margin-right: 10px;
      margin-top: 4px;
    }
  }
}

app-poll-party, app-poll-president, app-other {
  padding: 0 25px;
  margin-bottom: 13px;
}
