<div>
  <div class="label">{{ PollDataEnum[key] }}</div>

  <div class="row">
    <ng-container [ngSwitch]="key">
      <ng-container *ngSwitchCase="PollDataEnum.Partie">
        <app-poll-party
          *ngFor="let poll of polls; trackBy:identify; let index = index"
          class="col-12 col-sm-6 col-lg-4"
          [poll]="poll"
          [idSvg]="'sondaze' + index"
        ></app-poll-party>
      </ng-container>

      <ng-container *ngSwitchCase="PollDataEnum.Prezydenci">
        <app-poll-president
          *ngFor="let poll of polls; trackBy:identify; let index = index"
          class="col-12 col-sm-6 col-lg-4"
          [poll]="poll"
          [idSvg]="'prezydenci' + index"
        ></app-poll-president>
      </ng-container>
    </ng-container>
  </div>

  <div class="more">
    <button
      *ngIf="!reachedMaxPolls"
      mat-icon-button
      matTooltip="Wjęcej"
      [disabled]="isLoading"
      (click)="handlePage.emit()"
    ><mat-icon>expand_more</mat-icon></button>
    <div *ngIf="isLoading" class="more--loading">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </div>
</div>
