:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-left: 4rem;
  min-height: 80vh;
}

.comments {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: white;
  width: 80%;
}
