<div class="articles">
  <div class="container">
    <div class="articles__title">
      <span>{{ getFirstWord(name) }}</span>
      <div class="articles__title__order">
        <button
          mat-button
          [class.active]="orderSection === OrderEnum.Latest"
          (click)="changeOrder.emit(OrderEnum.Latest)"
        >Najnowsze</button>
        <button
          mat-button
          [class.active]="orderSection === OrderEnum.Popular"
          (click)="changeOrder.emit(OrderEnum.Popular)"
        >Popularne</button>
      </div>
    </div>
    <div class="row articles__list">
      <div *ngFor="let article of articles" class="col-12 col-sm-6 col-lg-4 col-xl-3">
        <div @showAnimation>
          <app-article [article]="article"></app-article>
        </div>
      </div>
    </div>
    <div class="articles__more">
      <button
        *ngIf="!reachedMaxArticles"
        mat-icon-button
        matTooltip="Wjęcej"
        [disabled]="isLoading"
        (click)="handlePage.emit()"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
      <div *ngIf="isLoading" class="articles__more--loading">
        <mat-spinner [diameter]="25"></mat-spinner>
      </div>
    </div>
  </div>
</div>
