<div class="articles">
  <div class="articles__title">Partie</div>

  <div class="container">
    <div class="row articles__list">
      <div class="col articles__list__card">
        <mat-card>
          <img class="articles__list__card__image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col articles__list__card">
        <mat-card>
          <img class="articles__list__card__image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col articles__list__card">
        <mat-card>
          <img class="articles__list__card__image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col articles__list__card">
        <mat-card>
          <img class="articles__list__card__image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
