<div class="poll">
  <div #image class="poll__image">
    <svg [attr.id]="idSvg"></svg>
  </div>
  <div class="poll__title">{{ poll.title }}</div>
  <div class="poll__others">
    <div>{{ poll.surveying }}</div>
    <span class="break"></span>
    <div>{{ poll.when  | date:'dd.MM.yyyy' }}</div>
    <div
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Edytuj"
      class="button"
      (click)="editPoll.emit(poll.id)"
    >
      <mat-icon>edit</mat-icon>
    </div>
  </div>
</div>
