<div
  *ngIf="subtitle?.length"
  class="subtitle"
>{{ subtitle }}</div>

<div class="image-section">
  <img
    class="image-section--image"
    [src]="imageSrc"
    [alt]="title + ' - Afery'"
  >
  <div class="image-section--author">{{ imageDesc }}</div>
</div>

<div
  *ngIf="!isShort && articleWrite === ArticleWriteEnum.normal"
  class="desc"
  [innerHtml]="checkHtml(text)"
></div>

<div
  *ngIf="!isShort && articleWrite === ArticleWriteEnum.live"
  class="live-items"
>
  <app-live-item
    *ngFor="let item of liveItems"
    [item]="item"
    [isAdminPage]="false"
  ></app-live-item>
</div>

<div class="tags">
  <mat-chip-list>
    <mat-chip *ngFor="let tag of tags" [routerLink]="'../../../tag/' + tag">{{ tag }}</mat-chip>
  </mat-chip-list>
</div>
