<img
  *ngIf="type === ArticlesTypesEnum.PoliticalParties"
  class="org"
  [src]="'/assets/icons/parties/' + PartiesEnum[entity] + '.jpg'"
  [alt]="'Logo partii ' + PartiesEnum[entity]"
/>

<img
  class="image"
  [src]="imageSrc"
  [alt]="title + ' - Afery'"
/>

<div class="author">{{ imageDesc }}</div>

<div class="content">
  <div class="content__title">
    <h1>{{ title }}</h1>
  </div>

  <div class="content__time">
    <div class="content__time__rest">
      <div>Bartosz Karczmarski</div>

      <div>{{ createDate | time }}</div>
    </div>

    <div
      class="content__time__all"
      [style.margin-bottom]="isShort ? '7px' : '0'"
    >
      <div *ngIf="articleWrite === ArticleWriteEnum.normal">{{ text | timeToRead }} min czytania</div>

      <div
        *ngIf="!isShort && articleWrite === ArticleWriteEnum.normal"
        class="content__time__all--read"
      ></div>

      <div *ngIf="!isShort">
        <app-plus-minus
          class="content__time__all__actions"
          [likes]="likes"
          [dislikes]="dislikes"
          [id]="id"
          [collection]="'articles'"
          [isArticle]="true"
          (incrementLikes)="handleLike.emit($event)"
          (incrementDislikes)="handleDislike.emit($event)"
        ></app-plus-minus>
      </div>
      <div
        *ngIf="!isShort"
        class="content__time__all__socials"
      >
        <div>Udostępnij</div>

        <a
          mat-icon-button
          target="_blank"
          rel="noopener noreferrer"
          [href]="'https://www.facebook.com/share.php?u=' + pageUrl()"
        >
          <img src="/assets/socials/facebook.svg" alt="Ikona Facebooka" />
        </a>

        <a
          mat-icon-button
          target="_blank"
          rel="noopener noreferrer"
          [href]="'https://twitter.com/intent/tweet?url=' + pageUrl()"
        >
          <img src="/assets/socials/twitter.svg" alt="Ikona Twittera" />
        </a>
      </div>
    </div>
  </div>
</div>
