:host {
  display: block;
  margin-top: 5rem;
  margin-left: 9rem;
}

.image {
  height: 210px;
  padding-bottom: 2rem;

  &--src {
    width: 100%;
    height: 80%;
  }

  &__buttons {
    color: white;
    margin-top: 10px;
    display: flex;
    gap: 10px;

    button {
      padding: 0 10px;
      line-height: 30px;
    }
  }
}
