<div class="container">
  <div class="search">
    <mat-form-field appearance="standard">
      <mat-label>Szukaj afery...</mat-label>
      <input matInput [formControl]="searchValue" autocomplete="off" type="text">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="title">
    Znaleziono {{ (articles | async).length === 1 ? '' : articles.value.length }} afer{{ articles.value.length === 1 ? 'e' : '' }}
  </div>

  <div class="articles">
    <div
      *ngIf="isLoading | async"
      class="articles__loading"
    >
      <mat-spinner></mat-spinner>
    </div>

    <ng-container *ngIf="!isLoading.value">
      <div
        *ngFor="let article of articles.value"
        @showAnimation
      >
        <app-article
          [article]="article"
          [fakeMobileVersion]="true"
        ></app-article>
      </div>
    </ng-container>
  </div>
</div>
