<div class="title">
  <h1 class="title__text">{{ title }}</h1>
  <div *ngIf="isAdmin">
    <button
      mat-icon-button
      matTooltip="Edytuj"
      class="button"
      (click)="editPoll.emit()"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>

<div
  *ngIf="typeItems === PollDataEnum.Partie"
  class="label"
>
  <div>Porównaj z</div>
  <div class="label__actions">
    <button
      mat-button
      [class.active]="sortingMethod === 'election'"
      (click)="comparePreviousElection.emit()"
    >Wyborami</button>
    <button
      mat-button
      [class.active]="sortingMethod === 'poll'"
      (click)="comparePreviousPoll.emit()"
    >Sondażem</button>
  </div>
</div>
