.items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  button {
    width: 140px;
    margin-top: 10px;
  }

  .item {
    .label {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    &__rank {
      display: flex;
      width: 70px;
      gap: 1rem;
      align-items: center;

      &--index {
        font-weight: 500;
        font-size: 17px;
      }

      img {
        height: 27px;
      }
    }

    &__top {
      font-weight: 500;
      font-size: 18px;
      line-height: 35px;

      .label {
        margin-bottom: 1.5rem;
        margin-top: 10px;
      }

      @media (min-width: 767px) {
        font-size: 25px;
      }

      &__something {
        margin-top: 2rem;

        img {
          height: 70px;

          @media (min-width: 767px) {
            height: 80px;
          }
        }
      }
    }
  }
}
