.items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .item {

    .label {
      margin-bottom: 1.5rem;
      margin-top: 2rem;
    }

    &__rank {
      display: flex;
      width: 70px;
      gap: 1rem;
      align-items: center;

      &--index {
        font-weight: 500;
        font-size: 19px;
      }

      img {
        height: 27px;

        @media (min-width: 767px) {
          height: 30px;
        }
      }
    }

    &__top {
      flex-direction: column;
      gap: 2rem;
      font-weight: 500;
      font-size: 18px;
      margin-top: 1.6rem;
      line-height: 35px;

      @media (min-width: 767px) {
        font-size: 25px;
      }

      &__something {
        margin-top: 1rem;

        button {
          margin-top: 1rem;
        }

        img {
          height: 70px;

          @media (min-width: 767px) {
            height: 80px;
          }
        }
      }
    }
  }
}
