<div class="article d-flex">
  <mat-card>
    <div>
      <a [routerLink]="[toArticlePage]">
        <div class="article__image" [style.background-image]="'url(' + article.imageSrc + ')'">
          <div class="article__image__header">
            <img
              *ngIf="article.type === ArticlesTypesEnum.PoliticalParties"
              class="article__image__header--organization" [src]="'/assets/icons/parties/' + PartiesEnum[article.entity] + '.jpg'"
              [alt]="'Logo ' + PartiesEnum[article.entity]"
            >
            <app-live-button
              *ngIf="article?.articleWrite === ArticleWriteEnum.live"
              class="article__image__header--live"
            ></app-live-button>
          </div>
          <div class="article__title">{{ article.title }}</div>
        </div>
      </a>
    </div>
  </mat-card>
  <div class="article__comments">
    <button mat-button (click)="seeComments()">
      Komentarze {{ countComments | async }}
    </button>
  </div>
</div>
