<div
  class="actions"
  [class.article-actions]="isArticle"
>
 <div>
   <button
     mat-icon-button
     class="actions__action"
     (click)="approve()"
   >
     <img
       [class.choosed-plus]="(commentMode | async) === 'like'"
       class="actions__action--plus"
       src="/assets/icons/comment/like.png"
       alt="plus icon"
     />
   </button>
   <span>{{ likes || 0 }}</span>
 </div>

 <div>
   <button
     mat-icon-button
     class="actions__action"
     (click)="dislike()"
   >
     <img
       [class.choosed-minus]="commentMode.value === 'dislike'"
       class="actions__action--minus"
       src="/assets/icons/comment/dislike.png"
       alt="minus icon"
     />
   </button>
   <span>{{ dislikes || 0 }}</span>
 </div>
</div>
