<div
  class="actions"
  [class.article-actions]="isArticle"
>
 <div
    class="actions__action"
    [class.choosed]="(commentMode | async) === 'like'"
 >
   <button
     mat-icon-button
     (click)="approve()"
   >
     <img
       src="/assets/icons/comment/like.png"
       class="plus"
       alt="plus icon"
     />
   </button>
   <span>{{ likes || 0 }}</span>
 </div>

 <div
    class="actions__action"
    [class.choosed]="commentMode.value === 'dislike'"
 >
  <button
    mat-icon-button
    (click)="dislike()"
   >
     <img
        src="/assets/icons/comment/dislike.png"
        alt="minus icon"
     />
   </button>
   <span>{{ dislikes || 0 }}</span>
 </div>
</div>
