<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts__others">
      <span class="comment__texts__others--name">{{ data.name }}</span>
      <span class="comment__texts__others--date">{{ data.date | time }}</span>
      <a
        *ngIf="!disableIcon"
        mat-icon-button
        [routerLink]="'/bulwar/dyskusja/' + data.id"
      >
        <mat-icon matTooltip="Dyskusja">library_books</mat-icon>
      </a>
    </div>
    <div class="comment__texts--desc">{{ data.text }}</div>
    <div class="comment__texts--answers">
      <app-plus-minus
        [likes]="data.likes"
        [dislikes]="data.dislikes"
        [id]="data.id"
        [collection]="'chat'"
        (incrementLikes)="handleLike($event)"
        (incrementDislikes)="handleDislike($event)"
      ></app-plus-minus>

      <button
        *ngIf="isLogin"
        mat-stroked-button
        (click)="handleOpenWrite.next(!handleOpenWrite.value)"
      >Odpowiedz</button>
    </div>
    <div class="comment__texts--buttons">
      <button
        *ngIf="countAnswers.value > 0 && !handleOpenAnswers.value"
        mat-button
        (click)="getAnswers()"
      >
        {{ countAnswers.value > 1 ? 'Wyświetl ' +  countAnswers.value  + ' odpowiedzi' : 'Zobacz odpowiedź' }}
      </button>

      <button
        *ngIf="(countAnswers | async) > 0 && (handleOpenAnswers | async)"
        mat-button
        (click)="hideAnswers(false)"
      >
        {{ countAnswers.value > 1 ? 'Ukryj ' +  countAnswers.value  + ' odpowiedzi' : 'Ukryj odpowiedź' }}
      </button>
    </div>
  </div>

  <div class="comment__buttons">
    <button
      *ngIf="isAdmin"
      mat-icon-button
      matTooltip="Usuń komentarz"
      (click)="deleteMe.emit(data.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
</div>

<!-- Pisanie odpowiedzi -->
<app-write-comment
  *ngIf="handleOpenWrite | async"
  [isSavingComment]="isSaving | async"
  (addComment)="addAnswer($event)"
  [answerMode]="true"
></app-write-comment>

<!-- Odpowiedzi -->
<div
  class="open-answers"
  [class.hide-answers]="!handleOpenAnswers.value"
>
  <ng-container *ngFor="let answer of answers.value">
    <app-answer
      @showAnimation
      [data]="answer"
      [isAdmin]="isAdmin"
      [isChat]="true"
      (deleteAnswer)="handleDeleteAnswer($event)"
    ></app-answer>
  </ng-container>
</div>
