<div class="comment">
  <mat-icon>person</mat-icon>
  <div class="comment__texts">
    <div class="comment__texts__others">
      <span class="comment__texts__others--name">{{ (discussionData | async).name }}</span>
      <div class="comment__texts__others__actions">
        <span class="comment__texts__others__actions--date">{{ discussionData.value.date | time }}</span>
        <a
          *ngIf="!disableIcon"
          mat-icon-button
          [routerLink]="'/bulwar/dyskusja/' + discussionData.value.id"
        >
          <mat-icon matTooltip="Dyskusja">library_books</mat-icon>
        </a>
        <button
          *ngIf="isAdmin || isYourComment"
          mat-icon-button
          matTooltip="Usuń"
          (click)="deleteMe.emit(discussionData.value.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          *ngIf="isYourComment"
          mat-icon-button
          [matTooltip]="!isEditMode.value ? 'Edytuj' : 'Zamknij edycje'"
          (click)="editText()"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div
      *ngIf="!(isEditMode | async)"
      class="comment__texts--desc"
    >{{ discussionData.value.text }}</div>
    <div
      *ngIf="isEditMode.value"
      class="comment__texts__edit"
    >
      <mat-form-field appearance="fill">
        <mat-label>Tekst</mat-label>
        <textarea matInput [formControl]="editTextControl" autocomplete="off" type="text" ></textarea>
      </mat-form-field>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="editTextControl.invalid || (isChangingText | async)"
        (click)="changeText()"
      >ZMIEŃ</button>
    </div>
    <div class="comment__texts--answers">
      <app-plus-minus
        [likes]="discussionData.value.likes"
        [dislikes]="discussionData.value.dislikes"
        [id]="discussionData.value.id"
        [collection]="'chat'"
        (incrementLikes)="handleLike($event)"
        (incrementDislikes)="handleDislike($event)"
      ></app-plus-minus>

      <button
        *ngIf="isLogin"
        mat-stroked-button
        (click)="getAnswers(true)"
      >Odpowiedz</button>
    </div>
    <div class="comment__texts--buttons">
      <button
        *ngIf="countAnswers.value > 0 && !handleOpenAnswers.value"
        mat-button
        (click)="getAnswers()"
      >
        {{ countAnswers.value > 1 ? 'Wyświetl ' +  countAnswers.value  + ' odpowiedzi' : 'Zobacz odpowiedź' }}
      </button>

      <button
        *ngIf="(countAnswers | async) > 0 && (handleOpenAnswers | async)"
        mat-button
        (click)="hideAnswers(false)"
      >
        {{ countAnswers.value > 1 ? 'Ukryj ' +  countAnswers.value  + ' odpowiedzi' : 'Ukryj odpowiedź' }}
      </button>
    </div>
  </div>
</div>

<!-- Pisanie odpowiedzi -->
<app-write-comment
  *ngIf="handleOpenWrite | async"
  [isSavingComment]="isSaving | async"
  (addComment)="addAnswer($event)"
  [answerMode]="true"
></app-write-comment>

<!-- Odpowiedzi -->
<div
  class="open-answers"
  [class.hide-answers]="!handleOpenAnswers.value"
>
  <ng-container *ngFor="let answer of answers | async">
    <app-answer
      @showAnimation
      [data]="answer"
      [isAdmin]="isAdmin"
      [isChat]="true"
      (deleteAnswer)="handleDeleteAnswer($event)"
      (changeTextAnswer)="handleChangeTextAnswer($event)"
    ></app-answer>
  </ng-container>
</div>
