/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: black; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
input, textarea {
  color: white !important;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

a:hover {
  text-decoration: none;
  color: inherit;
}

.mat-card {
  background: inherit;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: inherit;
}

.mat-card-content {
  margin: 0 -16px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 8px !important;
}

.mat-select-min-line, .mat-option-text {
  text-transform: uppercase;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: white;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.label {
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(194, 194, 194);
  padding-bottom: 0.7rem;
}

.loading {
  display: flex;
  place-content: center;
}
