mat-dialog-content, .title {
  width: 95vw;
  min-width: 410px;
  max-width: 800px;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}

mat-dialog-actions {
  padding-top: 2rem;
}
