<mat-dialog-content class="title">
  {{ dialogData.article.title }}
</mat-dialog-content>

<mat-dialog-content class="mat-typography">
  <app-write-comment
    [isSavingComment]="isSavingComment | async"
    [countComment]="(comments | async)?.length"
    (addComment)="handleAddComment($event)"
  ></app-write-comment>

  <app-is-loading
    *ngIf="isLoading.value"
    [size]="60"
  ></app-is-loading>

  <div
    *ngIf="!(isLoading | async)"
    class="comments"
  >
    <app-comment
      *ngFor="let comment of comments | async"
      [comment]="comment"
      [isAdmin]="isAdmin | async"
      [userName]="userName | async"
      [isMenagaComponent]="false"
      (deleteComment)="deleteComment($event)"
    ></app-comment>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <a
    color="primary"
    mat-raised-button
    mat-dialog-close
    cdkFocusInitial
    [routerLink]="[dialogData.link]"
  >Artykuł</a>
  <button
    mat-button
    mat-dialog-close
  >Zamknij</button>
</mat-dialog-actions>
