mat-dialog-content {
  width: 60vw;
  min-width: 300px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 28px;
}
