<mat-dialog-content class="title">
  {{ dialogData.article.title }}
</mat-dialog-content>

<mat-dialog-content class="mat-typography">
  <app-global-comments
    [parentId]="dialogData.article?.id"
    [commentType]="'articles'"
  ></app-global-comments>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <a
    color="primary"
    mat-raised-button
    mat-dialog-close
    cdkFocusInitial
    [routerLink]="[dialogData.link]"
  >Artykuł</a>
  <button
    mat-button
    mat-dialog-close
  >Zamknij</button>
</mat-dialog-actions>
