mat-dialog-content, .title {
  width: 90vw;
  min-width: 410px;
  max-width: 800px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
}
