<mat-card class="article d-none d-sm-block">
  <a [routerLink]="[toArticlePage]">
    <div class="article__image" [style.background-image]="'url(' + article.imageSrc + ')'">
      <img *ngIf="article.type === ArticlesTypesEnum.PoliticalParties" class="article__organization" [src]="'/assets/icons/parties/' + PartiesEnum[article.entity] + '.jpg'" alt="Logo">
    </div>
    <mat-card-content>
      <p class="truncate article__title">{{ article.title }}</p>
    </mat-card-content>
    <mat-card-footer class="article__footer">
      <span class="article__footer--time">{{ article.createDate | date:'dd.MM.yyyy' }}</span>
      <span *ngIf="article.costs" class="article__footer--costs">
        <mat-icon>money_off</mat-icon>
        {{ article.costs | millions }}
      </span>
    </mat-card-footer>
  </a>
</mat-card>

<a [routerLink]="[toArticlePage]" class="mobile-article d-sm-none">
  <div class="mobile-article__image" [style.background-image]="'url(' + article.imageSrc + ')'">
    <img *ngIf="article.type === ArticlesTypesEnum.PoliticalParties" class="mobile-article__image--entity" [src]="'/assets/icons/parties/' + PartiesEnum[article.entity] + '.jpg'" alt="Logo">
  </div>
  <div class="mobile-article__content">
    <div class="mobile-article__content--title">{{ article.title }}</div>
    <div class="mobile-article__content__footer">
      <span>{{ article.createDate | date:'d/M/yy' }}</span>
      <span *ngIf="article.costs" class="mobile-article__content__footer--costs">
        <mat-icon>money_off</mat-icon>
        {{ article.costs | millions }}
      </span>
    </div>
  </div>
</a>
