@use '../styles/image';

$border: 5px;

@mixin costs {
  &--costs {
    height: 17px;
    display: flex;
    margin-left: auto;
    font-size: 13px;
    color: #ff6a6a;
    font-weight: 600;

    mat-icon {
      font-size: 16px;
      height: 17px;
      width: 19px;
      margin-top: 2px;
    }
  }
}

.article {
  cursor: pointer;
  transition: opacity 200ms ease-out 100ms;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    opacity: .7;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    font-family: monospace, sans-serif;
  }

  &__image {
    @include image.imageBackground;
    height: 150px;
    min-width: 240px;
    margin-top: -16px !important;
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    border-radius: $border;
    display: flex;
  }

  &__organization {
    height: 30px;
    border-bottom-right-radius: $border;
    border-top-left-radius: calc($border - 1px);
    width: 30px;
    vertical-align: inherit;
  }

  &__comments {
    margin-left: auto;
    color: #e3e3e3;
  }

  &__footer {
    padding-bottom: 10px;
    display: flex;

    @include costs;
  }

  p {
    line-height: 1.4rem;
  }
}

.mobile-article {
  $gap: 15px;
  $image-width: 120px;

  display: flex;
  padding-bottom: 15px;
  cursor: pointer;
  color: white;
  gap: $gap;
  transition: opacity 200ms ease-out 100ms;

  &:hover {
    opacity: .6;
  }

  &__image {
    width: $image-width;
    height: 80px;
    border-radius: $border;
    @include image.imageBackground;

    &--entity {
      height: 20px;
      width: 20px;
      vertical-align: initial;
      border-bottom-right-radius: $border;
      border-top-left-radius: calc($border - 1px);
    }
  }

  &__content {
    width: calc(100% - ($gap + $image-width));
    display: flex;
    flex-direction: column;

    &__footer {
      margin-top: auto;
      display: flex;

      @include costs;

      &--comments {
        font-size: 19px;
        margin-left: auto;
        margin-right: 20px;
        color: #e3e3e3;
      }
    }

    &--title {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4rem;
      display: -webkit-box;
      max-width: calc(100% - 10px);
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
