<mat-card class="article">
  <img class="article__image" mat-card-image [src]="article.imageSrc" alt="Zdjęcie artykułu">
  <mat-card-content>
    <p class="truncate">{{ article.title }}</p>
  </mat-card-content>
  <mat-card-footer class="article__footer">
    <img [matTooltip]="PartiesEnum[article.entity].toUpperCase()" class="article__organization" [src]="'/assets/icons/parties/' + PartiesEnum[article.entity] + '.jpg'" alt="Logo">
    <span>23123zł</span>
  </mat-card-footer>
</mat-card>

<!-- <div class="article">
  <img class="article__image" [src]="article.imageSrc" alt="Zdjęcie artykułu">
  di
</div> -->
