@use '../styles/image';

$border: 5px;

@mixin truncateMultipleLine($lines) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article {
  cursor: pointer;
  transition: opacity 200ms ease-out 100ms;

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    opacity: .7;
  }

  &__title {
    font-weight: 600;
    font-size: 17px;
    font-family: monospace, sans-serif;
    @include truncateMultipleLine(3);
    height: 63px;
  }

  &__image {
    @include image.imageBackground;
    height: 150px;
    min-width: 240px;
    margin-top: -16px !important;
    width: calc(100% + 32px);
    margin: 0 -16px 16px -16px;
    border-radius: $border;
    display: flex;
  }

  &__organization {
    height: 30px;
    border-bottom-right-radius: $border;
    border-top-left-radius: calc($border - 1px);
    width: 30px;
    vertical-align: inherit;
  }

  &__comments {
    margin-left: auto;
    color: #e3e3e3;
  }

  &__footer {
    padding-bottom: 10px;
    display: flex;
  }

  p {
    line-height: 1.4rem;
  }
}

.mobile-article {
  $gap: 15px;
  $image-width: 120px;

  display: flex;
  padding-bottom: 15px;
  cursor: pointer;
  color: white;
  gap: $gap;
  transition: opacity 200ms ease-out 100ms;

  &--fake-mobile {
    .mobile-article__image {
      width: 30vw;
      height: 11vw;
      min-width: 150px;
      min-height: 90px;
      max-width: 260px;
      max-height: 135px;
    }

   .mobile-article__content--title {
      font-size: 1rem;

      @media (min-width: 767px) {
        font-size: 1.6rem;
      }
   }

   .mobile-article__content {
      padding: 2px 0;

      @media (min-width: 767px) {
        padding: 8px 0;
      }
   }

   .mobile-article__content__footer {
      font-size: 1rem;

      @media (min-width: 767px) {
        font-size: 1.1rem;
      }
    }
  }

  &:hover {
    opacity: .6;
  }

  &__image {
    width: $image-width;
    height: 80px;
    border-radius: $border;
    @include image.imageBackground;

    &--entity {
      height: 20px;
      width: 20px;
      vertical-align: initial;
      border-bottom-right-radius: $border;
      border-top-left-radius: calc($border - 1px);
    }
  }

  &__content {
    width: calc(100% - ($gap + $image-width));
    display: flex;
    flex-direction: column;
    padding: 2px 0;

    &__footer {
      margin-top: auto;
      display: flex;

      &--comments {
        font-size: 19px;
        margin-left: auto;
        margin-right: 20px;
        color: #e3e3e3;
      }
    }

    &--title {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.4rem;
      max-width: calc(100% - 10px);
      @include truncateMultipleLine(3)
    }
  }
}
