<div class="details container">
  <ng-container *ngIf="data | async">
    <app-header
      [title]="data.value.title"
      [sortingMethod]="sortingMethod | async"
      [isAdmin]="isAdmin | async"
      [typeItems]="data.value.typeItems"
      (comparePreviousPoll)="previousPoll()"
      (comparePreviousElection)="previousElection()"
      (editPoll)="handleEditPoll()"
      (deletePoll)="handleDeletePoll()"
    ></app-header>

    <ng-container [ngSwitch]="data.value.typeItems">
      <ng-container *ngSwitchCase="PollDataEnum.Partie">
        <app-main-poll-party
          [poll]="data.value"
          [compareData]="(previousData | async)?.items"
        ></app-main-poll-party>

        <app-table-poll
          [parties]="data.value?.items"
          [compareData]="previousData.value?.items"
        ></app-table-poll>
      </ng-container>

      <app-main-poll-presidents
        *ngSwitchCase="PollDataEnum.Prezydenci"
        [poll]="data.value"
      ></app-main-poll-presidents>

      <app-main-poll-other
        *ngSwitchCase="PollDataEnum.Inne"
        [poll]="data.value"
      ></app-main-poll-other>
    </ng-container>

    <app-global-comments
      [parentId]="data.value.id"
      [commentType]="'polls'"
    ></app-global-comments>
  </ng-container>
</div>
