<div class="details container">
  <ng-container *ngIf="data | async">
    <app-header
      [title]="data.value.title"
      [sortingMethod]="sortingMethod | async"
      (comparePreviousPoll)="previousPoll()"
      (comparePreviousElection)="previousElection()"
    ></app-header>

    <app-main-poll
      [poll]="data.value"
      [compareData]="(previousData | async)?.items"
    ></app-main-poll>

    <app-table-poll
      [parties]="data.value.items"
      [compareData]="previousData.value?.items"
    ></app-table-poll>

    <!-- <app-mandates
      [parties]="data.value.items"
    ></app-mandates> -->
  </ng-container>
</div>
