<div
  @showAnimation
  *ngIf="!(isCheckingLogin | async)"
  class="container"
  [style.align-self]="isStart.value ? 'unset' : 'center'"
>
  <section *ngIf="isStart.value">
    <app-level
      [length]="questions.value.length"
      [lvl]="lvl | async"
      [question]="questions.value[lvl.value - 1]"
      (handlePageLvl)="handlePageLvl($event)"
    ></app-level>
  </section>

  <section *ngIf="!(isStart | async)">
    <app-start-page
      [isLogin]="isLogin | async"
      [length]="(questions | async).length"
      (start)="isStart.next(true)"
    ></app-start-page>
  </section>
</div>
